.summary-card {
  //border: 1px solid green;
  //height: 20rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;


  &__item {
    //border: 1px solid green;
    border-radius: .9rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 90%;
    gap: 1rem;

    &--reaction {
      background-color: $light-red-bg;
    }

    &--memory {
      background-color: $light-yellow-bg;
    }

    &--verbal {
      background-color: $light-green-bg;
    }

    &--visual {
      background-color: $light-purple-bg;
    }

  }

  &__icon {
    //width: 2rem;
    width: 10%;
    //border: 1px solid red;
  }

  &__category {
    //border: 1px solid green;
    width: 50%;

    &--reaction {
      color: $light-red;
    }

    &--memory {
      color: $orange-yellow;
    }

    &--verbal {
      color: $green-teal;
    }

    &--visual {
      color: $light-royal-blue;
    }
  }

  &__max-points {
    color: hsla(0, 0%, 48%, .6);
  }

  &__score-points {
    color: $dark-gray-blue;
  }
}